#header_wrapper, #display-bottom-book, #hide-bottom-book {
	background: #3a3c3f; /* Old browsers */
	background: -moz-linear-gradient(top, #3a3c3f 0%, #26272b 36%, #13131c 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3a3c3f), color-stop(36%,#26272b), color-stop(100%,#13131c)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #3a3c3f 0%,#26272b 36%,#13131c 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #3a3c3f 0%,#26272b 36%,#13131c 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #3a3c3f 0%,#26272b 36%,#13131c 100%); /* IE10+ */
	background: linear-gradient(top, #3a3c3f 0%,#26272b 36%,#13131c 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3a3c3f', endColorstr='#13131c',GradientType=0 ); /* IE6-9 */
}

.left-page, .left-page-nextBack, .left-page-wrapper {
	background: #f9f9f7; /* Old browsers */
	background: -moz-linear-gradient(left, #f9f9f7 0%, #ffffff 73%, #f2f2f2 94%, #e2e2e2 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#f9f9f7), color-stop(73%,#ffffff), color-stop(94%,#f2f2f2), color-stop(100%,#e2e2e2)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left, #f9f9f7 0%,#ffffff 73%,#f2f2f2 94%,#e2e2e2 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left, #f9f9f7 0%,#ffffff 73%,#f2f2f2 94%,#e2e2e2 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left, #f9f9f7 0%,#ffffff 73%,#f2f2f2 94%,#e2e2e2 100%); /* IE10+ */
	background: linear-gradient(left, #f9f9f7 0%,#ffffff 73%,#f2f2f2 94%,#e2e2e2 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f7', endColorstr='#e2e2e2',GradientType=1 ); /* IE6-9 */
}

.right-page, .right-page-nextBack, .right-page-wrapper {
	background: #e2e2e2; /* Old browsers */
	background: -moz-linear-gradient(left, #e2e2e2 0%, #f2f2f2 6%, #ffffff 27%, #f9f9f7 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#e2e2e2), color-stop(6%,#f2f2f2), color-stop(27%,#ffffff), color-stop(100%,#f9f9f7)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left, #e2e2e2 0%,#f2f2f2 6%,#ffffff 27%,#f9f9f7 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left, #e2e2e2 0%,#f2f2f2 6%,#ffffff 27%,#f9f9f7 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left, #e2e2e2 0%,#f2f2f2 6%,#ffffff 27%,#f9f9f7 100%); /* IE10+ */
	background: linear-gradient(left, #e2e2e2 0%,#f2f2f2 6%,#ffffff 27%,#f9f9f7 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#f9f9f7',GradientType=1 ); /* IE6-9 */
}

#footer {
	background: #303030; /* Old browsers */
	background: -moz-linear-gradient(top, #303030 0%, #000000 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#303030), color-stop(100%,#000000)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #303030 0%,#000000 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #303030 0%,#000000 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #303030 0%,#000000 100%); /* IE10+ */
	background: linear-gradient(top, #303030 0%,#000000 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#303030', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}

.sticker-description-blue, #translate-word-popup, button.blue {
	background: #7abcff; /* Old browsers */
	background: -moz-linear-gradient(top, #7abcff 0%, #60abf8 44%, #4096ee 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7abcff), color-stop(44%,#60abf8), color-stop(100%,#4096ee)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #7abcff 0%,#60abf8 44%,#4096ee 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #7abcff 0%,#60abf8 44%,#4096ee 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #7abcff 0%,#60abf8 44%,#4096ee 100%); /* IE10+ */
	background: linear-gradient(top, #7abcff 0%,#60abf8 44%,#4096ee 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7abcff', endColorstr='#4096ee',GradientType=0 ); /* IE6-9 */
}

.feedback {
	background: #9ae894; /* Old browsers */
	background: -moz-linear-gradient(left, #9ae894 0%, #47ce1a 50%, #a0e291 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#9ae894), color-stop(50%,#47ce1a), color-stop(100%,#a0e291)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left, #9ae894 0%,#47ce1a 50%,#a0e291 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left, #9ae894 0%,#47ce1a 50%,#a0e291 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left, #9ae894 0%,#47ce1a 50%,#a0e291 100%); /* IE10+ */
	background: linear-gradient(left, #9ae894 0%,#47ce1a 50%,#a0e291 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9ae894', endColorstr='#a0e291',GradientType=1 ); /* IE6-9 */
}

	.feedback:hover {
		background: #a0e592; /* Old browsers */
		background: -moz-linear-gradient(left, #a0e592 0%, #55db1c 50%, #a0e592 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, right top, color-stop(0%,#a0e592), color-stop(50%,#55db1c), color-stop(100%,#a0e592)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(left, #a0e592 0%,#55db1c 50%,#a0e592 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(left, #a0e592 0%,#55db1c 50%,#a0e592 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(left, #a0e592 0%,#55db1c 50%,#a0e592 100%); /* IE10+ */
		background: linear-gradient(left, #a0e592 0%,#55db1c 50%,#a0e592 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a0e592', endColorstr='#a0e592',GradientType=1 ); /* IE6-9 */
	}

/*CONTROLS*/
div.jp-audio {
	background: #fcfcfc; /* Old browsers */
	background: -moz-linear-gradient(top, #fcfcfc 0%, #f2f2f2 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fcfcfc), color-stop(100%,#f2f2f2)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #fcfcfc 0%,#f2f2f2 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #fcfcfc 0%,#f2f2f2 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #fcfcfc 0%,#f2f2f2 100%); /* IE10+ */
	background: linear-gradient(top, #fcfcfc 0%,#f2f2f2 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfcfc', endColorstr='#f2f2f2',GradientType=0 ); /* IE6-9 */
}


div.jp-play-bar {
	background: #f2825b; /* Old browsers */
	background: -moz-linear-gradient(top, #f2825b 0%, #e55b2b 50%, #f07146 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f2825b), color-stop(50%,#e55b2b), color-stop(100%,#f07146)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #f2825b 0%,#e55b2b 50%,#f07146 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #f2825b 0%,#e55b2b 50%,#f07146 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #f2825b 0%,#e55b2b 50%,#f07146 100%); /* IE10+ */
	background: linear-gradient(top, #f2825b 0%,#e55b2b 50%,#f07146 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2825b', endColorstr='#f07146',GradientType=0 ); /* IE6-9 */
}

div.jp-seek-bar {
	background: #fcfff4; /* Old browsers */
	background: -moz-linear-gradient(top, #fcfff4 0%, #e9e9ce 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fcfff4), color-stop(100%,#e9e9ce)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #fcfff4 0%,#e9e9ce 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #fcfff4 0%,#e9e9ce 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #fcfff4 0%,#e9e9ce 100%); /* IE10+ */
	background: linear-gradient(top, #fcfff4 0%,#e9e9ce 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#e9e9ce',GradientType=0 ); /* IE6-9 */
}